.collection, .collection-item {
	border: 0px;
}

.collection {
	border-top: none;
	border-bottom: none;
}

.collection-item:first-of-type {
	border-top: none;
	padding-top: 0px;
}

.collection-item:last-of-type {
	border-bottom: none;
}

.collection-item {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

#logo {
	max-height: 30px;
	width: auto;
	line-height: 0px;
	position: relative;
	bottom: -8px;
}

.row{
	margin-bottom: 0px;
}

a, p{
	margin-bottom: 10px
}

.bottom-space {
	margin-bottom: 80px;
}

.title {
	font-size: 1.5rem;
	text-transform: uppercase;
	margin-top: 0px;
}

.chip.tiny {
	height: 20px;
	padding: 0 10px;
	line-height: 20px;
	font-size: x-small;
}